.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

cmd/server/gateway/gatewayserveramd64
cmd/server/gateway/gatewayserverwindowsamd64
cmd/server/game/gameserveramd64
cmd/server/game/gameserverwindowsamd64
cmd/**/__debug_bin_*
__debug_bin_*

configs/server.json
configs/game.json

internal/pkg/pb/**/*.pb.go
internal/pkg/core/game/**/*.pb.go

vendor
